html {
  background-color: rgb(221, 221, 221);
}
.container {
  display: grid;
  grid-gap: 50px;
}

#bank-box {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}
#work-box {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
#computer-box {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

#computer-info-box {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}

#pay-loan-button {
  visibility: hidden;
}

#buy-button {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 3rem;
  width: fit-content;
  align-self: center;
}

button {
  padding: 12px 28px;
}

#computer-select {
  padding: 8px 60px;
  background-color: rgb(238, 238, 238);
}

#computer-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#computer-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#work-buttons {
  text-align: center;
}
